<html>
	<head>
		<title>Rock-Paper-Scissors | Index</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>
	<body>
		<div class="content">
			<h1>Welcome!!</h1>
			<p>Hi, there! Here you can play the clasic hand game "Rock-Paper-Scissors" against the computer.</p>
			<p>Remember, rock beats scissors; paper beats rock; scissors beats paper.</p>
			<p>Good luck and enjoy! :P</p>
		
			<h2>Select your choice: </h2>
			<div class="imgns">
				<a href="/throw/rock" > <img class="imgn" src="/rock.png" alt="rock"> </a>
				<a href="/throw/paper" > <img class="imgn" src="/paper.png" alt="paper"> </a>
				<a href="/throw/scissors" > <img class="imgn" src="/scissors.png" alt="scissors"> </a>
			</div>
		</div>
	</body>
</html>
